*{
    margin: 0;
    padding: 0px;
}
.logo{
    
    
    
}
.container{
    width:100%;
    height: 600px;
    background-color:white;
    overflow: hidden;
}
ul li{
    color: black;
}
#btn2{
    color: white;
    background-color: #f14b40;
    margin-right: 60px;
    width:60px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: white;
    height: 40px;
    width: 100%;
    color:black;
    margin-top: 20px;
}
li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    align-items: center;
    margin-right: 60px;
    margin-top: 10px;
}
#sea{
    margin-right: 60px;
}
#logo-img{
    margin-top: 5px;
}
#mid-img{
    width:90%;
    height: 600px;
    margin-left: 70px;
    overflow: hidden;
}


ul li:hover{
    color: orange;
    text-decoration: underline;
}
.mid{
    position: relative;
}
.mid-img1{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 0;
    color: black;
    margin-top: 130px;
    margin-left: 200px;
}
span{
    color:orangered;
}
#p1{
    color:gray ;
}
#btn1{
    background-color: orangered;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
#btn1:hover{
    border: 2px solid;
   border-color: black ;
}
#lab{
    background-color: rgb(15, 14, 15)248, 213, 219;
    color: #f14b40;
    border-radius: 5px;
    
}
#hc1{
    margin-top: 10px;
    border-radius: 10px;
}
#sear{
    border-radius: 5px;
}
#ooo{
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    width: 5px;
    
}
.part{
 

    margin-top: 50px;
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height:300px;
    
}
.card{

    margin-top: 50px;
    height: 230px;
    flex-basis: 22%;
    margin:5px;
    box-shadow: 0px 0px 7px 3px orange;
}
.card h2{
    text-align: center;
}
.heading{
    margin-top: 20px;
    text-align: center;

}
.c11{
    display: flex;
    justify-content:center;
}

.part-1{
    margin-top: 60px;
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height:300px;
    
}
.card-2{

    height: 250px;
    flex-basis: 10%;
    margin:5px;
    box-shadow: 0px 0px 7px 3px orange;
}
.img-sec{
   margin-top: 30px;
}
.part img{
    align-items: center;
    height: 120px;
    width: 120px;
    margin-left: 40px;
}
.part-1 img{
    align-items: center;
    height: 120px;
    width: 120px;
    margin-left: 40px;
}